@import url(./normal.css);
@import url(./de-flag.css);
@import url(./fr-flag.css);
@import url(./italy.css);
@import url(./belgin.css);
@import url(./romania.css);

.main-container{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    align-items: flex-end;
}
/* <!-- footer just for WebFreeCounter Code --> */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* the margin need to be change (-) anytime you add elements to the main container */
    margin-top: 650px;
}
